/* 
        h1{
            color:gold;
        }
p{
    color: aqua;
}
button{
    color: black;
    background-color: blue;

}
body{
    background-color:#000000 ;
} */
/* *{
    color: red;
}   */
/* #headingone{
    color: yellowgreen;

}
#headingtwo{
    color: blue;

}
.myclass{
    color:darkgreen ;
} */
 #box {
   background-color:  rgb(58, 204, 32);
 }
  
 .heading{
    color: brown;
 } 

 h1,h2,h3 {
    color: blue;
 }
 button{
    background-color: aqua;
 }